
/* Primary / Main Color */
$primary: #6BC4E8;
/* Primary / Darker */
$primary_darker: #30ACDE;
/* Primary / Lighter */
$primary_lighter: #88CFEC;
/* Primary / Subtle */
$primary_subtle: #CCDDFF;

/* Secondary / Main */
$secondary: #ED40A9;
/* Secondary / Darker */
$secondary_darker: #DC148D;
/* Secondary / Lighter */
$secondary_lighter: #F066BA;
/* Secondary / Subtle */
$secondary_subtle: #F8BEE1;

/* Tertiary / Main */
$tertiary: #EA0029;
/* Tertiary / Darker */
$tertiary_darker: #BB0020;
/* Tertiary / Lighter */
$tertiary_lighter: #FF3054;
/* Tertiary / Light */
$tertiary_light: #FFA1B1;
/* Tertiary / Subtle */
$tertiary_subtle: #FEE3E8;

/* Dark / Dark Main */
$dark_primary: #98989A;
/* Dark / Dark 0 */
$dark_0: #1C1C28;
/* Dark / Dark 1 */
$dark_1: #28293D;
/* Dark / Dark 2 */
$dark_2: #555770;
/* Dark / Dark 3 */
$dark_3: #606170;
/* Dark / Dark 4 */
$dark_4: #8F90A6;
/* Dark / Dark 5 */
$dark_5: #C7C9D9;

/* Light / Light 0 */
$light_0: #E4E4E4;
/* Light / Light 1 */
$light_1: #EBEBF0;
/* Light / Light 2 */
$light_2: #F2F2F5;
/* Light / Light 3 */
$light_3: #FAFAFC;
/* Light / Light 4 */
$light_4: #FFFFFF;

/* Blue / Blue 0 */
$blue_0: #1B4DB0;
/* Blue / Blue 1 */
$blue_1: #306ADE;
/* Blue / Blue 2 */
$blue_2: #6B95E8;
/* Blue / Blue 3 */
$blue_3: #90AFED;
/* Blue / Blue 4 */
$blue_4: #CCDAF7;

/* Teal / Teal 0 */
$teal_0: #00B7C4;
/* Teal / Teal 1 */
$teal_1: #00CFDE;
/* Teal / Teal 2 */
$teal_2: #73DFE7;
/* Teal / Teal 3 */
$teal_3: #A9EFF2;
/* Teal / Teal 4 */
$teal_4: #E6FFFF;

/* Green / Green 0 */
$green_0: #3BB01B;
/* Green / Green 1 */
$green_1: #56DE30;
/* Green / Green 2 */
$green_2: #86E86B;
/* Green / Green 3 */
$green_3: #A4ED90;
/* Green / Green 4 */
$green_4: #D5F7CC;

/* Yellow / Yellow 0 */
$yellow_0: #E6B800;
/* Yellow / Yellow 1 */
$yellow_1: #FFCC00;
/* Yellow / Yellow 2 */
$yellow_2: #FDDD48;
/* Yellow / Yellow 3 */
$yellow_3: #FDED72;
/* Yellow / Yellow 4 */
$yellow_4: #FFFEE6;

/* Orange / Orange 0 */
$orange_0: #E67A00;
/* Orange / Orange 1 */
$orange_1: #FF8800;
/* Orange / Orange 2 */
$orange_2: #FDAC42;
/* Orange / Orange 3 */
$orange_3: #FCCC75;
/* Orange / Orange 4 */
$orange_4: #FFF8E6;

/* Purple / Purple 0 */
$purple_0: #8F1BB0;
/* Purple / Purple 1 */
$purple_1: #B930DE;
/* Purple / Purple 2 */
$purple_2: #CD6BE8;
/* Purple / Purple 3 */
$purple_3: #D990ED;
/* Purple / Purple 4 */
$purple_4: #EECCF7;